.wrapper {
  margin: 0;
  padding-top: 53px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 33px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 710px) {
  .wrapper {
    max-width: 400px;
    grid-row-gap: 0;
    grid-column-gap: 0;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}