.bg-blur {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  background: url("../../images/background-desctop.png") no-repeat center;
  background-size: cover;
}